body{
    background:#54BFB5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#224A59;
}


p{
    color: #224A59;
}

.assignment{
    display:flex;
    padding:5px;
    margin: 10px;
    background: #6DF2DA;

}

.assignment img{
    max-width: 200;
    max-height: 200;
    border: 5px solid #3B848C;
}

.assignment h1{
    padding: 10px
}
