body{
    background: rgb(116, 214, 238);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rebeccapurple;
}


p{
    color: navy;
}

.assignment{
    display:flex;
    padding:5px;
    margin: 10px;
    background: #63aeeb;

}

.assignment img{
    width: 200;
    height: 200;
    padding: 10px;
}

.assignment h1{
    padding: 10px
}
